/* login.component.css */
div {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(45deg, #3498db, #6c5ce7, #3498db, #6c5ce7);
    background-size: 400% 400%;
    animation: gradientAnimation 10s infinite;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: #fff;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 15px;
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #3498db;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #2c3e50;
    font-size: 16px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

input:focus {
    border-color: #6c5ce7;
    background-color: rgba(255, 255, 255, 1);
}

button {
    background: linear-gradient(45deg, #0b2386, #021288);
    color: #fff;
    padding: 12px;
    border: 2px solid rgb(31, 186, 33);
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(45deg, #45db34, #67eb52);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}